.ql-editor{
  min-height: 20rem !important;
  max-height: 25rem;
  padding: 1rem 2.5rem;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  border-top: 1px solid #cccccc;
}

.ql-align-center{
  text-align: center;
}

.ql-align-right{
  text-align: right;
}

.ql-editor img{
  max-width:600px !important;
}

@media screen and (max-width:600px){
  .ql-editor img{
    max-width:100% !important;
  }
}