.CrewPoster .HeaderPart{
    /* height: 100px; */
    color:white;
    background-color: #2cb5e8; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(90deg, #9fb8ad, #2cb5e8); */
    background-image: linear-gradient(90deg, #6c73bd, #dd90a2); /* Standard syntax (must be last) */
    text-shadow: 2px 2px black;
}

.CrewPoster .jumbotron{
  padding:2rem 1rem;
  border-radius: 20px;
}

.CrewPoster .HeaderPart .Text{
    /* height: 100px; */
    color:white;
    text-shadow: 2px 2px black;
}

.CrewPoster .HeaderPart .Text:hover{
    text-decoration: none;
}

.CrewPoster .Header-bar{
    font-weight: 700;
    font-size: 18px;
}

._TextField img{
    max-width: 90%;
    max-height: 800px;
}

@media screen and (max-width:800px){
    ._TextField img{
        width: 100%;
    }
  }

.commentSpace{
    white-space: pre-wrap;
}
  
.CommonPosterPart .Header-bar{
    font-weight: 700;
    font-size: 18px;
}


.likeOnStyle{
    color:#6c757d;  
}

  
/* .likeOnStyle:hover{
    color:red;
}

.likeOnStyle:active{
    font-size: 20px;
} */