

/* ._TextField img{
    max-width: 90%;
    max-height: 800px;
} */

@media screen and (max-width:800px){
    ._TextField img{
        width: 100% !important;
    }
  }

.commentSpace{
    white-space: pre-wrap;
}
  
.CommonPosterPart .Header-bar{
    font-weight: 700;
    font-size: 18px;
}

.likeOnStyle svg{
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        transform: scale(1.5) rotate(0deg);
    }
    50%{
        transform: scale(1.5) rotate(360deg);
    }
    100%{
        transform: scale(1.5) rotate(720deg);
    }
  }