.crewContainer .HeaderPart{
    /* height: 100px; */
    background-color: #2cb5e8; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(90deg, #9fb8ad, #2cb5e8); */
    background-image: linear-gradient(90deg, #6c73bd, #dd90a2); /* Standard syntax (must be last) */
}

.crewContainer .HeaderPart .Text{
    /* height: 100px; */
    color:white;
    text-shadow: 2px 2px black;
}

.crewContainer .HeaderPart .Text:hover{
    text-decoration: none;
}

.crewContainer .jumbotron{
    padding:2rem 1rem;
    border-radius: 20px;
}

.crewContainer .bene_Big_Size{
    width: 100%;
    height: 300px;
}

.crewContainerCardHeader{
    height: 4em;
    font-size:15px;
    overflow: hidden;
    font-weight: 700;
}

.crewContainerCardBody{
    font-size: 14px;
    font-weight: 600;
    color: #aeaeae;
}

.crewContainer .card_notice_t:hover{
    text-decoration: none;
}

.NestedList_category_style{
    color:black;
    font-weight: 800;   
}

.NestedList_category_style:hover{
    text-decoration: none;
}

.NestedList_category_style_wrapper{
    margin-bottom: 8px;
    border: 1px solid #cecece;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    /* .mainThum{
        min-height: 30vh !important;
    } */
    .crewContainer .bene_Big_Size{
        width: 100%;
        /* height: 30vh !important; */
    }
}
.crewContainer .marquee {
  /* width:600px; */
  padding:0.5em 0;
  overflow:hidden;
  /* background-color:#f6f6f6; */
  margin-bottom:10px;
  position:relative;
}
 
.crewContainer .marquee p:after {
  content:"";
  white-space:nowrap;
  padding-right:50px;
}
 
.crewContainer .marquee p {
  margin:0;
  padding-left:100%;
  display:inline-block;
  white-space:nowrap;
    -webkit-animation-name:marquee;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-name:marquee;
    -moz-animation-timing-function:linear;
    -moz-animation-duration:10s;
    -moz-animation-iteration-count:infinite;
    -ms-animation-name:marquee;
    -ms-animation-timing-function:linear;
    -ms-animation-duration:10s;
    -ms-animation-iteration-count:infinite;
    -o-animation-name:marquee;
    -o-animation-timing-function:linear;
    -o-animation-duration:10s;
    -o-animation-iteration-count:infinite;
    animation-name:marquee;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
  from   { -ms-transform: translate(0%);}
  99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
  from   { -o-transform: translate(0%);}
  99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}