.fixed_Liner{
    margin-top:64px;
}

@media screen and (max-width:600px){
    .fixed_Liner{
        margin-top:56px;
    }
}

.PcyTopNavBar{
    position:fixed;
    z-index:1100;
    width:100%;
    background: white;
    color: gray;
    border-bottom: 1px solid #f0f0f0;
    /* box-shadow:0px 2px 4px -1px rgba(0,0,0,0.1); */
}

.header_style{
    color:#768cc2;
}

.header_style:hover{
    text-decoration:none;
}
