.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    /* margin-bottom: 2em; */
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }


  
  .headlineButtonWrapper {
    display: inline-block;
  }
  
  .headlineButton {
    background: #ffffff;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 40px;
    width: 40px;
  }
  
  .headlineButton:hover,
  .headlineButton:focus {
    background: #f3f3f3;
  }

  .DraftEditor-root{
      min-width: auto;
      min-height: 9em;
      clear:none;
  }


  .draftJsToolbar__toolbar__dNtBH{
    /* border: 1px solid #ddd; */
    border: none;
    background: #fff;
    border-radius: 2px;
    /* box-shadow: 0px 1px 3px 0px rgba(220,220,220,1); */
    box-shadow: none;
    z-index: 2;
    box-sizing: border-box;
  }
  .customToolbar{
    /* border: 1px solid #ddd; */
    border: none;
    background: #fff;
    border-radius: 2px;
    /* box-shadow: 0px 1px 3px 0px rgba(220,220,220,1); */
    box-shadow: none;
    z-index: 2;
    box-sizing: border-box;
  }

  /* .editor figure{
    text-align: center;
  } */

  .editor img{
      /* max-width: 800px;
      max-height: 800px; */
      /* max-width:90%; */
      /* max-height: 800px; */
      cursor:move;
  }


/* .draftJsFocusPlugin__focused__3Mksn{
  outline: 3px solid rgb(103, 157, 238);
} */
  /* .editor img:active{
    border: 2px dotted;
  } */

  .draftJsToolbar__button__qi1gf{
    background: #ffffff;
    width:40px;
    height: 40px;
  }
  @media screen and (max-width:800px){
    .editor img{
        max-width: 100%;
        width:100%;
    }
    .editor {
      min-height: 400px;
      max-height: 400px;
    }
  }

  .public-DraftStyleDefault-block{
    background: #f9f9f9;
  }


  blockquote{
    margin: 30px;
    font-family: cursive;
  }

  .header-one{
    text-align: center;
  }

  /* custom style css */
  .text-justify-draft{
    text-align: justify;
  }
  .text-left-draft{
    text-align: left;
  }
  .text-center-draft{
    text-align: center;
  }
  .text-right-draft{
    text-align: right;
  }

  .text-white-color-draft{
    color:white;
  }
  .text-red-color-draft{
    color:red;
  }
  .text-orange-color-draft{
    color:orange;
  }
  .text-yellow-color-draft{
    color:yellow;
  }
  .text-green-color-draft{
    color:green;
  }
  .text-blue-color-draft{
    color:blue;
  }
  .text-darkblue-color-draft{
    color:darkblue;
  }
  .text-violet-color-draft{
    color:violet;
  }
  .text-darkgray-color-draft{
    color:darkgray;
  }
  .text-black-color-draft{
    color:black;
  }

  ._TextField .public-DraftStyleDefault-block{
    background: none;
  }